
body {
    background-image:url('https://cdn.vectorstock.com/i/500p/25/57/violet-technology-background-cyber-circuit-vector-31032557.jpg');
    color: #fff1dc;
    font-family: Georgia, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}


.main-title {
    display: inline-block;
    background-image:url('https://png.pngtree.com/thumb_back/fh260/background/20200811/pngtree-digital-technology-abstract-with-dark-pink-background-image_391123.jpg');
    padding: 15px 60px;
    font-size: 28px;
    letter-spacing: 4px;
    border-radius: 14px;
    border: 4px solid #f3e5d8;
    margin: 30px 0;
    box-shadow: 0 6px 15px rgba(0,0,0,0.35);
}
h1,h2,h3 {
    margin: 15px auto;
    max-width: 90%;
}

i {
    color: #ffd700;
    letter-spacing: 2px;
}

strong {
    font-size: 16px;
    color: #f5f5f5;
}
body{
    background-color:;
}

h1{
    text-align:center;
    color:#fff1e6;
}

p{
    color:#e8b1c5;
    font-size:18px;
    text-align:center;
}


.container{
    width:50%;
    margin:50px auto;
 background-image:url('https://media.istockphoto.com/id/1481300067/vector/modern-futuristic-technology-gradient-texture-stripes-line-background.jpg?s=612x612&w=0&k=20&c=MVvoUXhsAOsV8tStqLP38BVa2-ySFJMlcKwNA37Rm80=');

    border-radius:40px;
    padding:50px;

    box-shadow:20px 20px 20px black;
    text-align:center;
}


.box{
    width:50%;
    margin:50px auto;
    background-image:url('https://img.freepik.com/free-vector/dark-abstract-background-with-red-shapes-design_1048-20164.jpg?semt=ais_hybrid&w=740&q=80');
    border-radius:30px;
    padding:50px;
    box-shadow:20px 20px 20px black;
    text-align:center;
}

.room{
    width:50%;
    margin:50px auto;
   background-image:url('https://t3.ftcdn.net/jpg/03/88/34/96/360_F_388349679_22fgWbI5QO72gPO7LqZHF08v0Cyvb37U.jpg');
    border-radius:30px;
    padding:50px;
       box-shadow:20px 20px 20px black;
    text-align:center;
}


ol.square{
    list-style-type:square;
}
